<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  
   		  <context-param>
				 <param-name>webAppRootKey</param-name>
				 <param-value>820wan-oa</param-value>
		  </context-param>

		  <context-param>
				<param-name>contextConfigLocation</param-name>
				<param-value>/WEB-INF/source/spring/spring*.xml</param-value>
			</context-param>		
			<listener>
				<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
			</listener>  
			
			<context-param>
				<param-name>log4jConfigLocation</param-name>
				<param-value>/WEB-INF/source/log4j.properties</param-value>
			</context-param>
			
			<listener>
				<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
			</listener>
			
			<servlet>
		    	<servlet-name>StartupServlet</servlet-name>
		    	<servlet-class>com.cn.core.StartupServlet</servlet-class>
		    	<load-on-startup>10</load-on-startup>
		    </servlet>
			<servlet-mapping>
			    <servlet-name>StartupServlet</servlet-name>
			    <url-pattern>/servlet/StartupServlet</url-pattern>
			</servlet-mapping>
			
			<!-- Spring MVC的主控Servlet -->
			<servlet>
				<servlet-name>viewspace</servlet-name>
				<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
				<init-param>
					<param-name>contextConfigLocation</param-name>
					<param-value>/WEB-INF/source/spring/viewspace-servlet.xml</param-value>
				</init-param>
				<load-on-startup>2</load-on-startup>   
			</servlet>
			<servlet-mapping>
				<servlet-name>viewspace</servlet-name>
				<url-pattern>*.html</url-pattern>
			</servlet-mapping>
			
<!-- 编辑器相关   开始-->
	<servlet>
		<servlet-name>ConnectorServlet</servlet-name>
		<servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
		<init-param>
			<param-name>XMLConfig</param-name>
			<param-value>/WEB-INF/config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectorServlet</servlet-name>
		<url-pattern>
			/ckfinder/core/connector/java/connector.java
		</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>FileUploadFilter</filter-name>
		<filter-class>com.ckfinder.connector.FileUploadFilter</filter-class>
                <init-param>
                    <param-name>sessionCookieName</param-name>
                    <param-value>JSESSIONID</param-value>
                </init-param>
                <init-param>
                    <param-name>sessionParameterName</param-name>
                    <param-value>jsessionid</param-value>
                </init-param>
	</filter>
	<filter-mapping>
		<filter-name>FileUploadFilter</filter-name>
		<url-pattern>
			/ckfinder/core/connector/java/connector.java
     	 </url-pattern>
	</filter-mapping>
<!-- 编辑器相关   结束 -->			
			
			
			
			<!-- Comet4J长连接请求处理servlet -->
			<!-- <servlet>
			    <servlet-name>comet4Memory</servlet-name>
			    <servlet-class>org.comet4j.core.CometServlet</servlet-class>
			</servlet>
			<servlet-mapping>
			    <servlet-name>comet4Memory</servlet-name>
			    <url-pattern>/state</url-pattern>
			</servlet-mapping> -->
			<!--Comet4J容器侦听 -->
			<!-- <listener>
			    <listener-class>org.comet4j.core.CometAppListener</listener-class>
			</listener> -->

			<filter>  
		        <filter-name>SpringCharacterEncodingFilter</filter-name>  
		        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>  
		        <init-param>  
		            <param-name>encoding</param-name>  
		            <param-value>UTF-8</param-value>  
		        </init-param>  
		    </filter>  
		    <filter-mapping>  
		        <filter-name>SpringCharacterEncodingFilter</filter-name>  
		        <url-pattern>/*</url-pattern>  
		    </filter-mapping>

		    <jsp-config>
				<!-- 菜单标签 -->
				<taglib>
					<taglib-uri>/menu</taglib-uri>
					<taglib-location>/WEB-INF/tlds/menu.tld</taglib-location>
				</taglib>
				
				<!-- 分页标签 -->
				<taglib>
					<taglib-uri>/page</taglib-uri>
					<taglib-location>/WEB-INF/tlds/page.tld</taglib-location>
				</taglib>
		    </jsp-config>
	
<!-- 设置session 永不过期 -->	    
  <session-config>
	<session-timeout>-1</session-timeout>
  </session-config>
   
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  </web-app>